body {
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#gameTitle, #rules, #buttons, #results  {
    display: flex;
    justify-content: center;
    
}

#gameTitle {
    font-size: 100px;
}

#rules{
    font-size: 50px;
    margin-top: 45px;
}
#buttons {
    margin-top: 50px;
    text-shadow:  2px 2px;
}

button {
    background-color: black;
    color: white;
    padding: 20px 40px;
    margin: 30px;
    border-radius: 4px;
    font-weight: bold;
    border-color: white;
   
}

#scores {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#cScore, #pScore {
 padding: 50px;
}

#results, #cScore, #pScore {
    padding: 50px;
    font-size: 40px;
}

#results {
    margin-top: 50px;
}